:root {
  max-width: 72rem;
  margin: 0 auto;
}

.public-navbar {
  &__nav {
    max-width: 32em;
  }
}

.join-form {
  &__step {
    display: none;
    padding-bottom: 1em;
  }

  &__submit {
    display: none;
  }
}

.join-step {
  display: flex;
  list-style: decimal inside;
  margin: 0;
  padding: 0;

  &__item {
    padding-right: 0.5em;

    &::after {
      content: quote("⟩");
      font-weight: normal;
      padding-left: 0.5em;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: none;
        padding-left: 0;
      }
    }

    &--active {
      font-weight: bold;
    }
  }
}

// .no-resize {
//   resize: none;
// }
